<section id="formation">
    <h1>Ma Formation</h1>
    <div class="container-fluid text-center" id="conteneur_formation">
        <div class="row">
            <a class="div_formation container-sm col" href="https://www.univ-lille.fr/formations/fr-00082372" target="_blank">
                <h4 class="nom_formation">2023 - 2026 : BUT Informatique - Parcours A : réalisation d'applications</h4>
                <h5 class="lieu_formation">
                    <img class="img_formation img-thumbnail" src="assets/logo_iut_lille_coupe.png" alt="logo_iut">
                    <em>IUT de Lille - Villeneuve-d'Ascq</em>
                </h5>
                <p>
                    Le BUT Informatique parcours A, réalisation d'applications : conception,
                    développement, validation, est principalement axé sur la professionnalisation et il permet
                    d'apprendre
                    les compétences techniques et méthodologiques utiles et nécessaires à un développeur.
                </p>
            </a>
            <a class="div_formation container-sm col" href="https://www.lycee-elisalemonnier.fr/site/nos-formations/" target="_blank">
                <h4 class="nom_formation">2020 - 2023 : Baccalauréat technologique STI2D en spécialisation SIN : mention TB</h4>
                <h5 class="lieu_formation">
                    <img class="img_formation img-thumbnail" src="assets/logo_Elisa_Lemonnier.png" alt="logo_lycee">
                    <em>Lycée Elisa Lemonnier - Douai</em>
                </h5>
                <p>
                    Le Baccalauréat technologique STI2D (sciences et technologies de l'industrie
                    et du développement durable) est construit autour de l'innovation technologique, des sciences et de
                    l'information.
                    La spécialisation SIN apporte les compétences nécessaires pour développer des solutions intégrées et
                    mesurer
                    leurs performances environnementales.
                </p>
            </a>
        </div>
    </div>
</section>
