/*Vars*/
:root {
    --couleurtheme: #d2dffc;
    --couleurnav: #3a465f;
}

body{
    margin: 0;
}

/*Navigation*/
header{
    position: fixed;
    top: 0;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--couleurnav);
}
nav a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, serif;
    width: auto;
    text-decoration: none;
    padding: 10px;
    margin: 5px;

}
nav a:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
}

/*Sections*/
section {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}
p{
    text-align: justify;
    margin-bottom: 40px;
}

#intro{
    background-image: url("../res/backgroundTitre.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#intro *{
    background-color: rgba(0,0,0,0.5);
}
#intro div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#intro hr{
    width: 100%;
}
#intro>div>img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    background-color: white;
    padding: 4px;
}
#intro button{
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    background-color: lightgray;
    cursor: pointer;
}
#intro button:hover{
    background-color: white;
}
#intro button img{
    max-height: 40px;
    max-width: 40px;
}
#intro h1 {
    text-align: center;
    font-size: 4em;
}
#intro p{
    width: 90%;
    font-size: 18px;
    max-width: 800px;
}

#formation, #experience{
    background-color: var(--couleurtheme);
    color: black;
    height: 550px;
}
@media only screen and (max-width: 600px){
    #intro img{
        display: none;
    }
    #intro h1{
        padding: 0 20px 0 20px;
        color: aqua;
    }
    #intro p{
        margin-right: 50px;
        margin-left: 50px;
        width: 100%;
    }
}