/*Vars*/
:root {
    --couleurnav: #00ABE4;
    --couleurtheme: #E9F1FA;
}

body{
    margin: 0;
    font-family: "Arial", serif;
}

/*Navigation*/
header{
    position: fixed;
    top: 0;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--couleurnav);
}
nav a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 10%;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;

}
nav a:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: 0.7s;
}
nav hr {
    width: 1px;
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: white;
}
/*Sections*/
section {
    padding: 35px 2% 20px;
}
p{
    text-align: justify;
    margin-bottom: 40px;
}
/*Classes*/
.text{
    font-size: 18px;
}
.div_bouton{
    padding: 2px;
    border-radius: 10px;
    background-color: var(--couleurtheme);
    margin: 10px;

}
/*Intro*/
#intro{
    background-image: url("../res/backgroundTitre.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height : 65svh;
    min-height: 450px;
    color: white;
}
#conteneur_intro{
    width: 100%;
    min-height: 450px;
    height: 65svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.5);
}
#conteneur_intro>hr{
    width: 60%;
}
#intro_sous_div_txt{
    width: 60%;
    max-width: 1000px;
}
#intro_sous_div_txt>p{
    text-align: center;
}
#img_moi{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    background-color: white;
    padding: 5px;
    margin-bottom: 30px;
}
#intro_button{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: var(--couleurnav);
    cursor: pointer;
    border-radius: inherit;
    max-width: 250px;
}
#intro_button:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
    background-color: white;
    color: black;
}
#intro_button img{
    max-height: 40px;
    max-width: 40px;
    margin-right: 8px;
}
#intro h1 {
    text-align: center;
    font-size: 4em;
}

/*A propos*/
#a_propos{
    min-height: 30svh;
}

/*Formations*/
#conteneur_formation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div_formation{
    text-decoration: none;
    color: black;
    margin: 3%;
    padding-left: 20px;
    padding-right: 20px;
    width: 44%;
    border-radius: 10px;
    background-color: var(--couleurnav);
    min-height: 300px;
}
.div_formation:hover{
    transform : scale(1.03);
    transition: transform 0.3s ease-in-out;
}
.lieu_formation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
}
.img_formation{
    max-height: 50px;
    background-color: white;
    padding: 5px;
    margin-right: 20px;
}
#formation, #experience{
    background-color: var(--couleurtheme);
    color: black;
    min-height: 450px;
}
@media only screen and (max-width: 720px){
    #img_moi{
        display: none;
    }
    #intro h1{
        padding: 0 20px 0 20px;
        color: aqua;
    }
}