<section id="contact">
    <h1>Contactez-moi !</h1>
    <div class="text-center" id="conteneur_contact">
        <div class="row">
            <a class="col gird-element" href="https://www.linkedin.com/in/nathan-marquis-43a516264" target="_blank">
                Mon LinkedIn
                <img class="img_contact" src="../../assets/contact/logo_LinkedIn.png" alt="LinkedIn">
            </a>
            <a class="col gird-element" href="mailto:nathan.marquis.etu@univ-lille.fr">
                M'envoyer un email
                <img class="img_contact" src="../../assets/contact/envelope-arrow-up.svg" alt="mail">
            </a>
        </div>
        <div class="row">
            <a class="col gird-element" href="https://github.com/NathanMarquis-Pro" target="_blank">
                Mon GitHub
                <img class="img_contact" src="../../assets/contact/logo_GitLab.svg" alt="GitLab">
            </a>
            <script> function copyToClipboard(text) {
                navigator.clipboard.writeText(text).then(function () {
                    alert('Adresse email copiée dans le presse-papier!');
                }, function (err) {
                    alert('Erreur lors de la copie dans le presse-papier :' + err);
                });
            } </script>
            <a class="col gird-element" onclick="copyToClipboard('nathan.marquis.etu@univ-lille.fr')">
                Copier mon email
                <img class="img_contact" src="../../assets/contact/clipboard-plus.svg" alt="copierMail">
            </a>
        </div>
        <em>Cette page est protégée par les droits d'auteur</em>
    </div>
</section>
