<section id="a_propos">
    <h1>A propos</h1>
    <div id="conteneur_a_propos">
        <img class="img-thumbnail" id="img_moi" src="assets/photoNathan.jpg" alt="Photo Nathan Marquis">
        <p class="text text-size-60per">
            Actuellement en deuxième année de BUT informatique,
            spécialisé en développement, je suis à la recherche d’un stage de 8 à 10 semaines à partir du 1er avril 2025
            en tant que développeur Full-Stack ou Backend en Java. Au cours de ma formation, j’ai acquis une solide
            expérience dans la programmation orientée objet, notamment en réalisant un rogue-like avec la méthode agile.
            En outre, ce projet m'a permis de développer des qualités essentielles telles que l’écoute active et
            la collaboration efficace. Pour en savoir plus sur mes compétences et mes réalisations,
            je vous invite à explorer ce site. N’hésitez pas à me contacter pour toute information complémentaire.
            Je suis disponible et enthousiaste à l’idée d’échanger autour de futurs projets !
        </p>
    </div>
</section>
