<section id="intro">
    <div id="conteneur_intro">
        <h1> Nathan Marquis </h1>
        <hr>
        <div id="intro_sous_div_txt">
            <p class="text">
                Bienvenue ! Qui suis-je ? Venez le découvrir !
            </p>
        </div>
        <div class="div_bouton">
            <a id="intro_button" href="assets/cv.pdf" download="CV Nathan Marquis">
              <img
              ngSrc="assets/telechargement.png"
              alt="Télécharger CV icon" height="96" width="96">
              Télécharger mon CV </a>
        </div>
    </div>
</section>
